source https://www.nuget.org/api/v2/
framework: >= net45

nuget FSharp.Core redirects: force
nuget System.Windows.Interactivity.WPF 2.0.20525
nuget FSharp.Desktop.UI 0.7.1
nuget FSharp.ViewModule.Core 0.9.9.3

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
  nuget NuGet.CommandLine

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
  nuget TestStack.White
